@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

.App {
    min-height: 100vh;
    display: flex;
    background-image: url(./Images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
}